/*general styling*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    background-image: linear-gradient(to right, #c89fae, #fff);
    margin: 0;
    
}

h1{
    color: #581121;
    margin: 0;
}

h2{
    color: #472530;
    margin: 0;
}

/*specific styling*/
.profile-image{
    width: 350px;
    height: auto;
    border-radius: 56px;
    border: 4px solid #581121;
    z-index: 0;
    box-shadow: 10px 10px 5px #472530;
}

.profile-name{
    margin-top: 40px;
    font-size: 40px;
}

.school-info {
    font-size: 16px;
}

.skill-set, .communication {
    margin-top: 50px;   
}

.h2-skill-set {
    margin-bottom: 25px;
}

.skill-icon-wrapper {
    gap: 36px;
    display: flex;
    flex-flow: row wrap;
}

.skill-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-inner-wrapper p {
    font-size: 12px;
}

.skill-inner-wrapper .fa {
    color: #581121;
    font-size: 50px;
    border-radius: 24px;
    padding: 10px;
    box-shadow: 2px 2px 2px #472530;
}

.communication {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gray-bar {
    background-color: gray;
    width: 50%;
    border-radius: 50px;
    box-shadow: 5px 5px 2px #472530;
}

.english-bar {
    width: 85%;
}

.filipino-bar {
    width: 95%;
}

.thai-bar {
    width: 25%;
}

.english-bar, .filipino-bar, .thai-bar {
    background-color: #581121;
    border-radius: 50px;
    display: flex;
    justify-content: start;
    color: #fff;
    padding-left: 5px;
    
}


/*icons*/
.gmail-icon, .instagram-icon, .facebook-icon, .github-icon {
    color: #581121;
    filter: drop-shadow(0px 0px 5px rgba(242, 242, 242, 0.75)) 
    drop-shadow(5px 5px 10px rgba(0 0 0 / 30%))
}

.degree-icon, .school-icon {
    color: #472530;
}

/*learn more box*/
.learn-more {
    border-top-left-radius: 25px;
    border: 4px solid #581121;
    border-inline-end: solid transparent;
    border-bottom: solid transparent;
    padding: 50px;
    box-shadow: -5px -5px 5px #472530;
}

/*overlays*/
.contact-wrapper {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    display: flex;
    gap: 1rem;
    border: 2px solid #581121;
    border-radius: 56px;
    padding: 15px 50px;
    background: rgba(71, 37, 48, 0.25);
    font-size: 48px;
}

.profile-holder {
    margin-top: 100px;
    position: relative;
}

/*Grid Layout*/
.profile-holder {grid-area: profile-holder; display: grid; place-items: center; }
.profile-name {grid-area: profile-name;}
.school-info {grid-area: school-info;}
.skill-set {grid-area: skill-set;} 
.communication {grid-area: communication;}
.tools {grid-area: tools;}
.learn-more {grid-area: learn-more;}

.first-section {
    margin: 0;
    min-height: 80vh;
    display: grid;
    align-items: start;
    align-content: center;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-areas: 
        'profile-holder profile-name profile-name'
        'profile-holder school-info .'
        'profile-holder skill-set communication'
        'profile-holder tools learn-more'
}

/*second section grid layout*/
.testimonies-wrapper {
    margin-top: 50px;
    grid-area: testimonies-wrapper;
    font-size: 24px;
    place-items: center;
}

.comments {
    margin: 50px;
    grid-area: comments;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.see-all {
    grid-area: see-all;
    justify-self: center;
    font-size: 24px;
}

.review-form {
    grid-area: review-form;
    color: #c89fae;
    font-size: 24px;
    place-items: center;
}

.stars-display {
    grid-area: stars-display;
    display: flex;
    gap: 20px;
    font-size: 72px;
    color: #c89fae;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px rgba(242, 242, 242, 0.25)) 
    drop-shadow(10px 10px 2px rgba(0 0 0 / 50%))

}

.second-section {
    background-color: #581121;
    min-height: 80vh;
    margin: 0;
    display: grid;
    align-items: start;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'testimonies-wrapper .'
    'comments review-form'
    'see-all stars-display'; 
}

.second-section-title {
    color: #c89fae;
}

/*specific styling second section*/
.indi-comments {
    background-color: #c89fae;
    padding: 25px 45px;
    border: 2px solid #472530;
    border-radius: 25px;
}

.see-all a {
    text-decoration: none;
    color: #c89fae;
    font-weight: bolder;
}

.form-wrapper {
    display: grid;
    grid-template-areas: 
    'fullname email'
    'text-comment text-comment';
    gap: 20px;
}

.fullname { grid-area: fullname;}
.email { grid-area: email;}
.text-comment { grid-area: text-comment; resize: none;}

.fullname, .email, .text-comment {
    padding: 20px;
    border-radius: 56px;
    border: 4px solid #c89fae;
}